body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, [col] 1fr );
	grid-template-rows: repeat(5, [row] auto);
}

.nav {
	grid-column: 3 / span 2;
	justify-self: right;
}

.nav li {
	text-decoration: none;
	display: inline-block;
}

.top {
	grid-column: col 1 / span 3;
	grid-row: row 2;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

.banner {
	grid-column: 1 / 2;
	grid-row: 1;
}

.cta1 {
	grid-column-start: 2;
	background: #b9d695;
}

section {
	grid-column: col 3 / span auto;
	grid-row: 3;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-column: 1 / 4;
	grid-row-start: 3;
}

.home_about {
	grid-column: 1 / span 2;
	background: #ba9675;
	/*grid-column: auto / span 3
	grid-row: auto / span 3;*/
}

 .right_info {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 2;
	background: grey;
}

.left_info {
	grid-column: 2 / 3;
	grid-row: 2;
	background: #a2b7d6;
}
.home_jas img {
	justify-self: center;
}
footer {
	grid-column: 1;
	grid-row: 4;
}

/* Footer */

#map_left {
	width: 100px;
	height: 100px;
	background-color: grey;
}