body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(autofill, minmax(150px, 1fr));
}

.banner {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		"hero hero cta1"
		"hero hero ."
}

.hero_image {
	grid-area: hero;
	min-height: 400px;
	overflow: hidden;
	justify-items: center;
}

.cta1 {
	grid-area: cta1;
	display: grid;

}

.cta_social {
	grid-area: cta_social;
}

.cta1 p {

}

.home_about {
	display: grid;
	grid-template-areas: 
		"about about about"
		"left_info right_info home_jas"
}

.home_about {
	grid-template-areas: about;
}

.left_info {
	grid-template-areas: left_info;
}

.right_info {
	grid-template-areas: right_info;
}

.home_jas {
	grid-template-areas: home_jas;
}




















/* Footer */

#map_left {
	width: 100px;
	height: 100px;
	background-color: grey;
}