body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

.nav {
	grid-column-start: 3;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-auto-rows: 50px 1fr;
}

.banner {
	grid-gap: 20px;
	grid-column-start: 1;
	grid-column-end: 3;
}

.hero_image {
	grid-area: hero;
	min-height: 400px;
	overflow: hidden;
	justify-items: center;
	grid-column-start: 1;
	grid-row-start: 2;
}

.cta1 {
	display: grid;
	grid-gap: 10px;
	grid-column-start: 3;

}

section {
	display: grid;
	grid-row-start: 3;
	grid-column-end: span 3;
}

.home_info {
	grid-row-start: 4;
	grid-column-start: 1;
}

.home_jas {
	grid-row-start: 4;
	grid-column-start: 3;
}


footer {
	grid-row-start: 4;
}


/* Footer */

#map_left {
	width: 100px;
	height: 100px;
	background-color: grey;
}